<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/resources :: head('Create Recipe')"></head>

<!-- Attributi: Recipe recipe, List<Recipe> categoryList-->
<body>
<h1 class="text-center mt-3">Create New Recipe</h1>
<main>
    <div class="container">
        <form th:action="@{/recipes/create}" method="post" th:object="${recipe}" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" th:field="*{title}" required>
                <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label for="urlFoto" class="form-label">Image URL</label>
                <input type="text" class="form-control" id="urlFoto" th:field="*{urlFoto}" required>
                <span th:if="${#fields.hasErrors('urlFoto')}" th:errors="*{urlFoto}" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label for="timePrep" class="form-label">Time of Prep (minutes)</label>
                <input type="number" class="form-control" id="timePrep" th:field="*{timePrep}" required>
                <span th:if="${#fields.hasErrors('timePrep')}" th:errors="*{timePrep}" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label for="numberPortion" class="form-label">Number of Portions</label>
                <input type="number" class="form-control" id="numberPortion" th:field="*{numberPortion}" required>
                <span th:if="${#fields.hasErrors('numberPortion')}" th:errors="*{numberPortion}" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label for="ingredient" class="form-label">Ingredients (comma-separated)</label>
                <textarea class="form-control" id="ingredient" th:field="*{ingredient}" rows="3" required></textarea>
                <span th:if="${#fields.hasErrors('ingredient')}" th:errors="*{ingredient}" class="text-danger"></span>
            </div>
            <div class="col-4">
                <label class="form-label" for="type">Category</label>
                <select id="type" class="form-select" th:field="*{category}">
                    <option value="" selected>Choose a category</option>
                    <option th:each="cat : ${categoryList}" th:value="${cat.id}"
                            th:text="${cat.name}"></option>
                </select>
            </div>



            <div class="col-12">
                <button type="submit" class="btn btn-primary">Save</button>
                <a class="btn btn-danger" th:href="@{/recipes}">Cancel</a>
            </div>
        </form>
    </div>
</main>

<th:block th:replace="fragments/resources :: script"></th:block>
</body>
</html>
